body{
    font-family: 'Roboto';
}

header, main, footer{
    min-width: 640px;
    margin: 1rem auto;
    border: 3px solid #007da5;
    padding: 1rem;
    color: black;
    background-color: #e0e2e2;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: #ffffff;
}

